.root
{
    -fx-background-color: rgba(32, 45, 76, 1);
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: rgba(32, 45, 76, 1);
    -fx-padding: 50;
}

.normalText
{
    -fx-fill: white;
}

.button
{
    -fx-background-radius: 20;
    -fx-background-color: rgba(41, 58, 97, 0.3);
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.button:hover
{
    -fx-background-color: rgba(41, 58, 97, 0.8);
}

.radio-button
{
    -fx-text-fill: white;
}

.label
{
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

#startButton
{
    -fx-background-color: rgba(161, 27, 27, 1);
}

#btnDashBoard, #prev
{
    -fx-background-position: center;
    -fx-background-image: url("../img/back.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-background-color: rgb(242, 242, 242);
    -fx-opacity: 1;
}

#next
{
    -fx-background-position: center;
    -fx-background-image: url("../img/next.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-background-color: rgb(242, 242, 242);
    -fx-opacity: 1;
}

#next:hover, #prev:hover, #btnDashBoard:hover
{
    -fx-background-color: rgb(153, 153, 153);
}

#my_title
{
    -fx-text-alignment: center;
    -fx-text-fill: rgba(161, 27, 27, 1);
    -fx-font-size: 40px;
}

#footer
{
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#authors
{
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

#gitText
{
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

#btnGitHub
{
    -fx-background-image: url("../img/GitHub.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 60 60;
    -fx-background-radius: 30;
    -fx-opacity: 1;
}

.numberBtn
{
    -fx-opacity: 0;
    -fx-background-radius: 5em;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-cursor: hand;
}

.subtitle
{
    -fx-text-alignment: center;
    -fx-text-fill: rgba(161, 27, 27, 1);
    -fx-font-size: 20px;
}

.parent{
    -fx-background-color: #fff;
}

.sidebar{
    -fx-background-color: rgba(32, 45, 76, 1);;
}

.btns
{
    -fx-background-color: transparent;
}

.btns:hover
{
    -fx-background-color: #202332;
}

.box
{
    -fx-border-color: #3B3F4B;
    -fx-border-width: 1px 0px 0px 0px;
}

.round-lbl
{
    -fx-background-color: #FE7A79;
    -fx-background-radius: 100%;
}

.round-box
{
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-border-width: 5px;
}