.root
{
    -fx-background-color: rgba(32, 45, 76, 1);
}

.button
{
    -fx-background-radius: 20;
    -fx-background-color: rgba(41, 58, 97, 0.3);
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.button:hover
{
    -fx-background-color: rgba(41, 58, 97, 0.8);
}

.radio-button
{
    -fx-text-fill: white;
}

.label
{
    -fx-text-fill: pink;
    -fx-font-size: 20px;
}

#startButton
{
    -fx-background-color: rgba(161, 27, 27, 1);
}

#btnDashBoard, #prev
{
    -fx-background-position: center;
    -fx-background-image: url("@../img/back.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-opacity: 1;
}

#next
{
    -fx-background-position: center;
    -fx-background-image: url("@../img/next.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 30 30;
    -fx-opacity: 1;
}

#my_title
{
    -fx-text-alignment: center;
    -fx-text-fill: rgba(161, 27, 27, 1);
    -fx-font-size: 40px;
}

#footer
{
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#authors
{
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

#gitText
{
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

#btnGitHub
{
    -fx-background-image: url("@../img/GitHub.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 60 60;
    -fx-background-radius: 30;
    -fx-opacity: 1;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve, #thirteen
{
    -fx-opacity: 0;
    -fx-background-radius: 5em;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-cursor: hand;
}